---
Checks: '-*,clang-analyzer-*,cppcoreguidelines-*,performance-*,portability-*,readability-*,-readability-identifier-length,bugprone-*,modernize-*,-modernize-use-trailing-return-type,misc-*'
FormatStyle: file
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '1'
...
